// STYLING FOR BLOG PAGE AKA INDEX.HTML
//  -------------------------------start of main styles
.recipes{
    margin-top: 8%;
}
.post-date {
    font-family: $primary-font;
    color: $secondary-black;
    font-size: 0.77rem;
    word-spacing: 1px;
    margin: 0;
    a {
        color: $secondary-black;
        font-weight: 400;
    }
}

.post-date a:first-child {
            border-left: 1px solid $secondary-black;
            border-right: 1px solid $secondary-black;;
            padding: 0px 7px;
            margin: 0px 4px;
        }

.pineapple-heading h3 {
    margin-bottom: 5px;
    letter-spacing: 0.9px;
}

.pineapple-chicken-text {
    font-family: $secondary-font;
    color: $third-black;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 24px;
    p:last-child {
        border-bottom: 1px solid $border-bottom-gray;
        padding-bottom: 35px;
    }
}

// -----------------------------------tags
.tag-list,
.share-list {
    display: flex;
    p {
        font-family: $secondary-font;
        color: $gray;
        
        padding: 3px 0px 0px 5px;
    }
    nav,
    ul {
        display: flex;
        flex-direction: row;
        padding-left: 0;

        a {
            color: $gray;
            margin-left: 30px;
        }
    }
}

.share-list {
    border-bottom: 1px solid $border-bottom-gray;
    padding-bottom: 15px;
}

// ---------------------------------end of tags

// ---------------------------------begining of sally
.sally {
    width: 100%;
    .image-container{
        display: block;
        width: 66%;
        padding-right: 37px;
    }
}
.sally-container {
    width: 100%;
    display: flex;
    padding: 30px 0px 45px 0px;
    border-bottom: 1px solid $border-bottom-gray;
    .sally-text {
        padding: 40px;
        background-color: $secondary-white;
        p {
            color: rgb(107, 107, 107);
            line-height: 24px;
            font-size: 1rem;
            // letter-spacing: 0.5px;<-----this is effecting my image size
        }
    }
}
// ---------------------------------end of sally

//----------------------------------start of related posts

.related-posts {
    width: 100%;
}

.related-h4 {
        padding-top: 30px;
    }

.related-posts-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid $border-bottom-gray;
    .blog-1,
    .blog-2 {
        padding: 20px 30px 0px 0px;
    }
    .blog-3 {
        padding: 20px 0px 0px 0px;
    }
    h5 {
        margin: 35px 0px 5px 0px;
    }
    p {
        font-family: $secondary-font;
        color: $third-black;
        font-size: 0.7rem;
        margin: 0;
        a {
            color: $secondary-black;
            font-weight: 400;
            padding-left: 5px;
        }
    }
}
// ------------------------------------------end of related posts

// ----------------------------------------start of comments
.comments h4{
    margin: 35px 0px;
}

.lucatony-container,
.brian-container {
    display: flex;
}

.lucatony-image {
    width: 8%;
}

.brian-container {
    margin-top: 3%;
}
.brian-image {
    width: 10%;
}

.lucatony-text,
.brian-text {
    padding: 20px 20px 0px 20px;
    margin-left: 20px;
    background-color: $secondary-white;
    position: relative;
    span {
        font-family: $secondary-font;
        color: $secondary-black;
        font-size: 0.7rem;
        margin: 0;
    }
    p {
        font-family: $secondary-font;
        color: $third-black;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 24px;
        margin: 0;
    }
    .comment-date {
        font-family: $secondary-font;
        font-size: 0.6rem;
        letter-spacing: .5px;
        font-weight: 800;
        color: $secondary-black;
        padding: 10px 0px;
        margin:0;
    }
}

.triangle {
    position:absolute;
    top: 9px;
    left: -9px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 10px solid $secondary-white;
    border-bottom: 7px solid transparent;
    
}
// --------------------------------end of comments
// --------------------------------start of contact
.form-container {
    width: 100%;
    p{
        font-family: $secondary-font;
        font-style: italic;
        font-size: .8rem;
        color: $gray;
        font-weight: 600;
        opacity: 60%;
        letter-spacing: .3px;
    }
}

.name-email-web {
    display: flex;
    justify-content: space-between;
}
