// brown grey- #999999
//black- #2E2E2E
//WHITE #F6F6F6
//BLACK TWO #333333
// light grey comments rgb(204, 203, 203)


// these colours were used by a colour picker as the style guide did not provide the correct colour varients- "spoke with the designer" 

$primary-green: #70a402;
$secondary-green: rgb(232, 252, 161);
$primary-black: black;
$secondary-black: #353333;
$third-black: #6d6d6d;
$primary-white: #F6F6F6;
$secondary-white: #F2F2F2;
$gray: #999999;
$border-bottom-gray: #cfcfcf;