// brown grey- #999999
//black- #2E2E2E
//WHITE #F6F6F6
//BLACK TWO #333333
// light grey comments rgb(204, 203, 203)

$primary-green: #70a402;
$primary-black: black;
$secondary-black: #3a3838;
$third-black: #6d6d6d;
$primary-white: #F6F6F6;
$secondary-white: #F2F2F2;
$gray: #999999;