// STYLING FOR ALL FORMS 
// styling for form on blog page

.submit {
    background: none;
    color: $primary-white;
    border: none;
    padding: 20px 23px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: $primary-font;
    font-weight: 800;
    font-size: 0.8rem;
    background-color: $primary-green;
    text-transform: uppercase;
}

.submit-button-form {
    padding-bottom: 20%;
}

.blog-form-container {
    max-width: 100%;
    margin-top: 35px;
    h4 {
        padding-top: 20px;
    }
    p {
    color: $gray;
    letter-spacing: -.5px;
    }
}

.blog-info {
    display: flex;
    justify-content: space-between;
    div {
        width: 32%;
    }
}

.email,
.name,
.website {
    padding: 15px;
    width: 100%;
    font-family: $secondary-font;
}

.blog-contact-form-text {
    background-color: none;
    width: 100%;
    padding: 15px;
    font-family: $secondary-font;
}
.blog-comment-form {
    padding: 15px 0px;
}

.blog-form-input {
    width: 100%;
    padding-left: 0px;
}



// styling for form on contact page//
.form {
    padding: 90px 30px;
}

.form-container h3 {
    padding: 30px 0px;
    color: $secondary-black;
}

#contact-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.form-input,
.contact-form {
    width: calc(50% - 12px);
    input {
        width: 100%;
    }
}

.website-form,
.comment-form,
.button-form {
    width: 100%;
    input,
    textarea {
        width: 100%;
    }
}

.form-name,
.form-input,
.contact-form,
.website-form,
.button-form button {
    background: $secondary-white;
    border: none;
    font-family: $secondary-font;
    font-weight: 600;
    color: $third-black;
    padding: 6px;
}

.subscribe {
        button {
        background: none;
        color: $primary-white;
        width: 50px;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        font-family: $primary-font;
        font-weight: 400;
        font-size: 1.5rem;
        background-color: $primary-green;
        text-transform: uppercase;
    }
        i {
            padding: 8.5px;
        }
}




// footer form styling

.footer-form {
    // width: 33%;
    h3 {
        padding-top: 5px;
        padding-bottom: 100px;
    }
    form {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: $primary-font;
    font-size: 0.95rem;
    font-weight: 400;
    color: $primary-green;
    text-transform: uppercase;
    padding: 30px 0px;
    }
    input {
        border: none;
        font-weight:400;
        font-style: italic;
        padding-left: 15px;
    }
    @media (max-width: 1180px) {
        display: inline;
        h3 {
            margin: 0;
            padding: 0;
        }
        .rogue-line {
            display: none;
        }
    }
}

.enter {
    font-family: $secondary-font;
    font-size: 0.95rem;
    font-weight: 700;
    color: $secondary-white;
    padding: 12px 5px;
    background-color: $third-black;
}

.subscribe-flex-cont{
    display: flex;
}

.rogue-line {
    width: 73%;
    color: $secondary-black;
    border-top: 0.2px solid $third-black;
}