// STYLING FOR HOME PAGE
// wrapper
.top-row,
.bottom-row {
    display: flex;
}



// recipes parent
.menu-container {
    background-color: $secondary-white;
    width: 50%;
    display: flex;
    padding: 5%;
    h3 {
        font-size: 1rem;
    }
    p {
        font-size: 0.8rem;
    }
    @media (max-width: 1080px){
    width: 100%;
    }
}

.recipes-container {
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    h3 {
        margin-top: 4%;
    }
    @media (max-width: 1080px){
    padding: 10%;
    }
}

.recipes-container .line {
    width: 60px;
    height: 4px;
    margin-top: 0px;
    background: $primary-green;
}
.recipes-container p {
    font-family: $secondary-font;
    color: $third-black;
    font-size: 0.7rem;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-top: 0;
    padding: 15px 0px;
}

@media (max-width: 1080px){
    
}

.image-1-container,
.image-2-container {
    width: 50%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media (max-width: 1080px){
    display: none;
    }
}


.button {
    background: none;
    color: $primary-white;
    border: none;
    padding: 15px 30px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: $primary-font;
    font-weight: 800;
    font-size: 0.8rem;
    background-color: $primary-green;
    text-transform: uppercase;
}

.button a {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.menu-container-1,
.menu-container-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    @media (max-width: 1080px){
     padding: 4%;
}
}

.menu-container-1 {
    margin-right: 0.5rem;
}

.vegetarian,
.deserts,
.salads,
.appetizers,
.drinks,
.side-dishes {
    display: flex;
    width: 100%;
    color: $secondary-black;
    padding: 3%;
    h3 {
        margin: 0;
    }
    i {
        font-size: 2rem;
        display: inline;
        margin-right: 20px;
        // position: absolute;
        // top: 30px;
        // left: -55px;
    }
    p {
        color: $gray;
        line-height: 1.5rem;
    }
    @media (max-width: 1080px){
    padding: 1%;
}
}

.resturant-container {
    position: relative;
    .logo-abs img {
        width: 200px;
        position: absolute;
        display: flex;
        left: 677px;
        top: 77px;
        @media (max-width: 1180px) {
        display: none;
        }
    }
}

.our-resturants-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 183px 183px 120px 183px;
    @media (max-width: 1180px) {
        padding: 12px 183px 79px 183px;
    }
    img {
        width: 70%;
        display: flex;
        justify-content: center;
        @media (max-width: 1180px) {
        display: none;
        }   
    }
    

    h3 {
        padding: 80px 0px 0px 0px;
        font-size: 1.6rem;
        margin: 0;
        color: $secondary-black;
    }

    p {
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 0.5px;
        color: $gray;
    }
}

.green-line {
    display: flex;
    justify-content: center;
    width: 55px;
    height: 3px;
    background: $primary-green;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.background-outside-wrapper {
    background-color: $secondary-green;
}

.quote {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 450px;
    text-align: center;
    background-color: $secondary-green;
    padding-bottom: 50px;
}

.quote-container {
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    p {
        width: 64%;
        letter-spacing: 0.6px;
        font-family: $secondary-font;
        font-style: italic;
        color: $secondary-black;
        line-height: 25px;
    }
    h3 {
        padding: 10px 0px 15px 0px;
        font-size: 1.6rem;
        margin: 0;
        color: $secondary-black;
    }
    .fa-quote-left {
        color: white;
        opacity: 75%;
        font-size: 2.4rem;
        position: absolute;
        top: 35%;
        left: 13%;
    }
    .fa-quote-right {
        color: white;
        opacity: 75%;
        font-size: 2.4rem;
        position: absolute;
        top: 70%;
        left: 83%;
    }
    .fa-chevron-left {
        color: white;
        opacity: 75%;
        font-size: 1.5rem;
        position: absolute;
        top: 119%;
        left: 46%;
    }
    .fa-chevron-right {
        color: white;
        font-size: 1.5rem;
        position: absolute;
        top: 119%;
        left: 52%;
    }
}

.green-line-2 {
    margin-bottom: 15px;
    width: 55px;
    height: 3px;
    background: $primary-green;
}
