// wrapper
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 700px);
}

// recipes parent
.recipes-container {
    max-width: 2000px;
    display: grid;
    place-items: center;
    padding: 20%;
    margin: 0 auto;
    h3 {
        margin-bottom: 0px;
    }
    .line {
        width: 60px;
        height: 4px;
        background: $primary-green;
    }
    p {
        font-family: $secondary-font;
        color: $third-black;
        font-size: 0.7rem;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: center;
        margin-top: 0;
    }
}

.button {
    background: none;
    color: $primary-white;
    border: none;
    padding: 15px 30px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: $primary-font;
    font-weight: 800;
    font-size: 0.8rem;
    background-color: $primary-green;
    text-transform: uppercase;
}

.button a {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.menu-container {
    display: flex;
    padding: 61px 0px 0px 137px;
    background-color: $secondary-white;
    height: 700px;
}

.menu-container-1,
.menu-container-2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.vegetarian,
.deserts,
.salads,
.appetizers,
.drinks,
.side-dishes {
    width: 100%;
    position: relative;
    color: $secondary-black;

    i {
        font-size: 2rem;
        position: absolute;
        top: 30px;
        left: -55px;
    }
    p {
        width: 80%;
        color: $gray;
    }
}

.image-1-container {
    background-image: url(../assets/home-2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    img {
        display: block;
        width: 100%;
    }
}
.image-2-container {
    background-image: url(../assets/home-3.jpeg);
    object-fit: cover;
    background-repeat: no-repeat;
    img {
        display: block;
        width: 100%;
    }
}

.resturant-container {
    position: relative;
    .logo-abs img{
        width: 200px;
        position: absolute;
        display: flex;
        left: 677px;
        top: 77px;
    }
}

.our-resturants-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 183px 183px 120px 183px;
    img {
        width: 70%;
        display: flex;
        justify-content: center;
    }

    h3 {
        padding: 80px 0px 10px 0px;
        font-size: 1.8rem;
        margin: 0;
        color: $secondary-black;
    }

    p {
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 0.5px;
        color: $gray;
    }
}

.green-line {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 4px;
    background: $primary-green;
}


.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.background-outside-wrapper {
        background-color: $secondary-green;
    }

.quote {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 700px;
    text-align: center;
    background-color: $secondary-green;
    position: relative;
    i {
    position: absolute;
    top: 0%;
    left: 0%;
    }
}


