$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Lora', serif;

// sizes and weights were matched as best as possible, style guide did not provide the correct information to best match the pngs of the sites- "spoke with the designer" 