@import "colors";
@import "text";
@import "forms";

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
figcaption,
figure,
main {
    display: block;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: inherit;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
dfn {
    font-style: italic;
}
mark {
    background-color: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
audio,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
img {
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    display: inline-block;
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details,
menu {
    display: block;
}
summary {
    display: list-item;
}
canvas {
    display: inline-block;
}
template {
    display: none;
}
[hidden] {
    display: none;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ------------------------------------------general styles */
.wrapper {
    margin: 0 auto;
    max-width: 1096.27px;
}

a {
    text-decoration: none;
    color: $primary-black;
    font-family: $primary-font;
    font-weight: 700;
}

li {
    list-style-type: none;
}

h3 {
    font-family: $primary-font;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

h4 {
    font-family: $primary-font;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

h5 {
    font-family: $primary-font;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 5px;
}

h6 {
    font-family: $primary-font;
    font-size: 0.9rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    width: 100%;
}




/* -------------------------------------------header styles */

.header-container {
    width: 100%;
    max-width: 2500px;
    height: 60vh;
    background-image: url(../assets/blog-1.jpeg);
    background-size: cover;
    background-position: bottom;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    h1 {
        margin: 0;
        font-family: $primary-font;
        font-size: 2.5rem;
        text-transform: uppercase;
        line-height: 1.3rem;
        letter-spacing: 0.06875rem;
    }
    nav {
        width: 60%;
    }
    a {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.06875rem;
        &:hover,
        &:focus {
            color: $primary-green;
        }
    }
}

.contact-image-container {
    background-image: url(../assets/contact-1.jpeg);
    width: 100%;
    max-width: 2500px;
    height: 60vh;
    background-size: cover;
    background-position: bottom;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    h1 {
        margin: 0;
        font-family: $primary-font;
        font-size: 2.5rem;
        text-transform: uppercase;
        line-height: 1.3rem;
        letter-spacing: 0.06875rem;
    }
    nav {
        width: 60%;
    }
    a {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.06875rem;
        &:hover,
        &:focus {
            color: $primary-green;
        }
    }
}

.nav-links {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin-top: 0;
}
// -------------------------------end of header styles

// /* ----------------------------------circle shape */

li:last-child {
    position: relative;
}

.circle {
    width: 7px;
    height: 7px;
    background: $primary-green;
    border: 8px solid $primary-green;
    border-radius: 50%;
    color: white;
    font: $primary-font;
    position: absolute;
    top: 9px;
    left: 6px;
}

.number-two {
    position: absolute;
    top: 9px;
    left: 11px;
    font-family: $primary-font;
    font-weight: 500;
    font-size: 0.8rem;
    color: $primary-white;
}

.shopping-bag {
    position: relative;
}
// -------------------------------end of circle shape

// -------------------------------start of main styles
.recipes{
    margin-top: 8%;
}
.post-date {
    font-family: $primary-font;
    color: $secondary-black;
    font-size: 0.77rem;
    word-spacing: 1px;
    margin: 0;
    a {
        color: $secondary-black;
        font-weight: 400;
    }
}

.post-date a:first-child {
            border-left: 1px solid $secondary-black;
            border-right: 1px solid $secondary-black;;
            padding: 0px 7px;
            margin: 0px 4px;
        }

.pineapple-heading h3 {
    margin-bottom: 5px;
    letter-spacing: 0.9px;
}

.pineapple-chicken-text {
    font-family: $secondary-font;
    color: $third-black;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 24px;
    p:last-child {
        border-bottom: 1px solid $border-bottom-gray;
        padding-bottom: 35px;
    }
}

// -----------------------------------tags
.tag-list,
.share-list {
    display: flex;
    p {
        font-family: $secondary-font;
        color: $gray;
        
        padding: 3px 0px 0px 5px;
    }
    nav,
    ul {
        display: flex;
        flex-direction: row;
        padding-left: 0;

        a {
            color: $gray;
            margin-left: 30px;
        }
    }
}

.share-list {
    border-bottom: 1px solid $border-bottom-gray;
    padding-bottom: 15px;
}

// ---------------------------------end of tags

// ---------------------------------begining of sally
.sally {
    width: 100%;
    .image-container{
        display: block;
        width: 66%;
        padding-right: 37px;
    }
}
.sally-container {
    width: 100%;
    display: flex;
    padding: 30px 0px 45px 0px;
    border-bottom: 1px solid $border-bottom-gray;
    .sally-text {
        padding: 40px;
        background-color: $secondary-white;
        p {
            color: rgb(107, 107, 107);
            line-height: 24px;
            font-size: 1rem;
            // letter-spacing: 0.5px;<-----this is effecting my image size
        }
    }
}
// ---------------------------------end of sally

//----------------------------------start of related posts

.related-posts {
    width: 100%;
}

.related-h4 {
        padding-top: 30px;
    }

.related-posts-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid $border-bottom-gray;
    .blog-1,
    .blog-2 {
        padding: 20px 30px 0px 0px;
    }
    .blog-3 {
        padding: 20px 0px 0px 0px;
    }
    h5 {
        margin: 35px 0px 5px 0px;
    }
    p {
        font-family: $secondary-font;
        color: $third-black;
        font-size: 0.7rem;
        margin: 0;
        a {
            color: $secondary-black;
            font-weight: 400;
            padding-left: 5px;
        }
    }
}
// ------------------------------------------end of related posts

// ----------------------------------------start of comments
.comments h4{
    margin: 35px 0px;
}

.lucatony-container,
.brian-container {
    display: flex;
}

.lucatony-image {
    width: 8%;
}

.brian-container {
    margin-top: 3%;
}
.brian-image {
    width: 10%;
}

.lucatony-text,
.brian-text {
    padding: 20px 20px 0px 20px;
    margin-left: 20px;
    background-color: $secondary-white;
    position: relative;
    span {
        font-family: $secondary-font;
        color: $secondary-black;
        font-size: 0.7rem;
        margin: 0;
    }
    p {
        font-family: $secondary-font;
        color: $third-black;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 24px;
        margin: 0;
    }
    .comment-date {
        font-family: $secondary-font;
        font-size: 0.6rem;
        letter-spacing: .5px;
        font-weight: 800;
        color: $secondary-black;
        padding: 10px 0px;
        margin:0;
    }
}

.triangle {
    position:absolute;
    top: 9px;
    left: -9px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 10px solid $secondary-white;
    border-bottom: 7px solid transparent;
    
}
// --------------------------------end of comments
// --------------------------------start of contact
.form-container {
    width: 100%;
    p{
        font-family: $secondary-font;
        font-style: italic;
        font-size: .8rem;
        color: $gray;
        font-weight: 600;
        opacity: 60%;
        letter-spacing: .3px;
    }
}

.name-email-web {
    display: flex;
    justify-content: space-between;
}




/*------------------------------ sub footer styles */

.sub-footer {
    background-color: $secondary-black;
    width: 100%;
    padding: 5rem 0;
}

.footer-text,
.h3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: $secondary-font;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: $gray;
    h2 {
        color: $primary-green;
        font-family: $primary-font;
        font-size: 2.2rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    h3 {
        color: $primary-white;
        font-family: $primary-font;
        font-size: 1rem;
        text-transform: uppercase;
        line-height: 24px;
    }
    p {
        border-bottom: 0.3px solid $border-bottom-gray;
        &:last-child {
            border-bottom: none;
        }
    }
}

.delicious-text{
    width: 35%;
    padding-right: 20px;
    padding-left: 0;
}
.recent-posts-text,
.subscribe {
    width: 35%;
    padding: 20px;
}

.footer-form {
    h3 {
        padding-top: 20px;
    }
}

// -----------------------------footer styles

footer {
    background-color: $primary-black;
    color: $primary-white;
    margin: 0;
    height: 30%;
}

footer p {
    padding-top: 15px;
    font-family: $primary-font;
    color: #999999;
}

.polar {
    font-family: $primary-font;
    color: $primary-green;
    text-transform: uppercase;
}


