.submit {
  background: none;
  color: #F6F6F6;
  border: none;
  padding: 20px 23px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 0.8rem;
  background-color: #70a402;
  text-transform: uppercase;
}

.submit-button-form {
  padding-bottom: 20%;
}

.blog-form-container {
  max-width: 100%;
  margin-top: 35px;
}
.blog-form-container h4 {
  padding-top: 20px;
}
.blog-form-container p {
  color: #999999;
  letter-spacing: -0.5px;
}

.blog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog-info div {
  width: 32%;
}

.email,
.name,
.website {
  padding: 15px;
  width: 100%;
  font-family: "Lora", serif;
}

.blog-contact-form-text {
  background-color: none;
  width: 100%;
  padding: 15px;
  font-family: "Lora", serif;
}

.blog-comment-form {
  padding: 15px 0px;
}

.blog-form-input {
  width: 100%;
  padding-left: 0px;
}

.form {
  padding: 90px 30px;
}

.form-container h3 {
  padding: 30px 0px;
  color: #353333;
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.form-input,
.contact-form {
  width: calc(50% - 12px);
}
.form-input input,
.contact-form input {
  width: 100%;
}

.website-form,
.comment-form,
.button-form {
  width: 100%;
}
.website-form input,
.website-form textarea,
.comment-form input,
.comment-form textarea,
.button-form input,
.button-form textarea {
  width: 100%;
}

.form-name,
.form-input,
.contact-form,
.website-form,
.button-form button {
  background: #F2F2F2;
  border: none;
  font-family: "Lora", serif;
  font-weight: 600;
  color: #6d6d6d;
  padding: 6px;
}

.subscribe button {
  background: none;
  color: #F6F6F6;
  width: 50px;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: #70a402;
  text-transform: uppercase;
}
.subscribe i {
  padding: 8.5px;
}

.footer-form h3 {
  padding-top: 5px;
  padding-bottom: 100px;
}
.footer-form form {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-family: "Raleway", sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  color: #70a402;
  text-transform: uppercase;
  padding: 30px 0px;
}
.footer-form input {
  border: none;
  font-weight: 400;
  font-style: italic;
  padding-left: 15px;
}
@media (max-width: 1180px) {
  .footer-form {
    display: inline;
  }
  .footer-form h3 {
    margin: 0;
    padding: 0;
  }
  .footer-form .rogue-line {
    display: none;
  }
}

.enter {
  font-family: "Lora", serif;
  font-size: 0.95rem;
  font-weight: 700;
  color: #F2F2F2;
  padding: 12px 5px;
  background-color: #6d6d6d;
}

.subscribe-flex-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rogue-line {
  width: 73%;
  color: #353333;
  border-top: 0.2px solid #6d6d6d;
}

.top-row,
.bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-container {
  background-color: #F2F2F2;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5%;
}
.menu-container h3 {
  font-size: 1rem;
}
.menu-container p {
  font-size: 0.8rem;
}
@media (max-width: 1080px) {
  .menu-container {
    width: 100%;
  }
}

.recipes-container {
  width: 50%;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recipes-container h3 {
  margin-top: 4%;
}
@media (max-width: 1080px) {
  .recipes-container {
    padding: 10%;
  }
}

.recipes-container .line {
  width: 60px;
  height: 4px;
  margin-top: 0px;
  background: #70a402;
}

.recipes-container p {
  font-family: "Lora", serif;
  color: #6d6d6d;
  font-size: 0.7rem;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-top: 0;
  padding: 15px 0px;
}

.image-1-container,
.image-2-container {
  width: 50%;
}
.image-1-container img,
.image-2-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1080px) {
  .image-1-container,
.image-2-container {
    display: none;
  }
}

.button {
  background: none;
  color: #F6F6F6;
  border: none;
  padding: 15px 30px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 0.8rem;
  background-color: #70a402;
  text-transform: uppercase;
}

.button a {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.menu-container-1,
.menu-container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1080px) {
  .menu-container-1,
.menu-container-2 {
    padding: 4%;
  }
}

.menu-container-1 {
  margin-right: 0.5rem;
}

.vegetarian,
.deserts,
.salads,
.appetizers,
.drinks,
.side-dishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #353333;
  padding: 3%;
}
.vegetarian h3,
.deserts h3,
.salads h3,
.appetizers h3,
.drinks h3,
.side-dishes h3 {
  margin: 0;
}
.vegetarian i,
.deserts i,
.salads i,
.appetizers i,
.drinks i,
.side-dishes i {
  font-size: 2rem;
  display: inline;
  margin-right: 20px;
}
.vegetarian p,
.deserts p,
.salads p,
.appetizers p,
.drinks p,
.side-dishes p {
  color: #999999;
  line-height: 1.5rem;
}
@media (max-width: 1080px) {
  .vegetarian,
.deserts,
.salads,
.appetizers,
.drinks,
.side-dishes {
    padding: 1%;
  }
}

.resturant-container {
  position: relative;
}
.resturant-container .logo-abs img {
  width: 200px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 677px;
  top: 77px;
}
@media (max-width: 1180px) {
  .resturant-container .logo-abs img {
    display: none;
  }
}

.our-resturants-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 183px 183px 120px 183px;
}
@media (max-width: 1180px) {
  .our-resturants-container {
    padding: 12px 183px 79px 183px;
  }
}
.our-resturants-container img {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1180px) {
  .our-resturants-container img {
    display: none;
  }
}
.our-resturants-container h3 {
  padding: 80px 0px 0px 0px;
  font-size: 1.6rem;
  margin: 0;
  color: #353333;
}
.our-resturants-container p {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: #999999;
}

.green-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55px;
  height: 3px;
  background: #70a402;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.background-outside-wrapper {
  background-color: #e8fca1;
}

.quote {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 450px;
  text-align: center;
  background-color: #e8fca1;
  padding-bottom: 50px;
}

.quote-container {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quote-container p {
  width: 64%;
  letter-spacing: 0.6px;
  font-family: "Lora", serif;
  font-style: italic;
  color: #353333;
  line-height: 25px;
}
.quote-container h3 {
  padding: 10px 0px 15px 0px;
  font-size: 1.6rem;
  margin: 0;
  color: #353333;
}
.quote-container .fa-quote-left {
  color: white;
  opacity: 75%;
  font-size: 2.4rem;
  position: absolute;
  top: 35%;
  left: 13%;
}
.quote-container .fa-quote-right {
  color: white;
  opacity: 75%;
  font-size: 2.4rem;
  position: absolute;
  top: 70%;
  left: 83%;
}
.quote-container .fa-chevron-left {
  color: white;
  opacity: 75%;
  font-size: 1.5rem;
  position: absolute;
  top: 119%;
  left: 46%;
}
.quote-container .fa-chevron-right {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 119%;
  left: 52%;
}

.green-line-2 {
  margin-bottom: 15px;
  width: 55px;
  height: 3px;
  background: #70a402;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20%;
}
@media (max-width: 1180px) {
  .page-wrapper {
    display: block;
    padding-left: 0;
  }
}

.side-bar-container h4 {
  color: #353333;
  width: 50%;
  padding-left: 25px;
}
.side-bar-container p {
  width: 50%;
  padding-left: 25px;
}
@media (max-width: 1180px) {
  .side-bar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 320px) {
  .side-bar-container {
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

.side-bar-background {
  background-color: #F2F2F2;
  padding-top: 124px;
}
@media (max-width: 1180px) {
  .side-bar-background {
    padding: 25px;
    margin-right: 3%;
    margin-left: 3%;
  }
}

.contact-details,
.working-hours,
.contact-info {
  color: #6d6d6d;
}

.contact-details h4 {
  font-size: 1.5rem;
  font-weight: 700;
}
.contact-details p {
  font-family: "Lora", serif;
  color: #6d6d6d;
  font-size: 0.7rem;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.working-hours p,
.contact-info p {
  font-family: "Lora", serif;
  color: #999999;
  font-size: 0.7rem;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.3px;
}

span {
  font-family: "Raleway", sans-serif;
  color: #353333;
  text-transform: uppercase;
  font-weight: 600;
}

.span-p {
  font-size: 1rem;
}

.light-p {
  color: #999999;
}

.image-2-wrapper {
  display: block;
  width: 100%;
  margin: 0;
}
.image-2-wrapper img {
  width: 100%;
  display: block;
}

.wrapper {
  padding: 0% 2%;
}
@media (max-width: 1180px) {
  .wrapper {
    padding: 0% 5%;
  }
}

.recipes {
  margin-top: 8%;
}

.post-date {
  font-family: "Raleway", sans-serif;
  color: #353333;
  font-size: 0.77rem;
  word-spacing: 1px;
  margin: 0;
}
.post-date a {
  color: #353333;
  font-weight: 400;
}

.post-date a:first-child {
  border-left: 1px solid #353333;
  border-right: 1px solid #353333;
  padding: 0px 7px;
  margin: 0px 4px;
}

.pineapple-heading h3 {
  margin-top: 10%;
  margin-bottom: 5px;
  letter-spacing: 0.9px;
}

.pineapple-chicken-text {
  font-family: "Lora", serif;
  color: #6d6d6d;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 24px;
}
.pineapple-chicken-text p:last-child {
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 35px;
}

.tag-list,
.share-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tag-list p,
.share-list p {
  font-family: "Lora", serif;
  color: #999999;
  padding: 3px 0px 0px 5px;
}
.tag-list nav,
.tag-list ul,
.share-list nav,
.share-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0;
}
.tag-list nav a,
.tag-list ul a,
.share-list nav a,
.share-list ul a {
  color: #999999;
  margin-left: 30px;
}

.share-list {
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 15px;
}

.sally {
  width: 100%;
}
.sally .image-container {
  display: block;
  width: 66%;
  padding-right: 37px;
}
.sally .image-container img {
  width: 100%;
  background-position: cover;
}
@media (max-width: 1180px) {
  .sally .image-container {
    display: none;
  }
}

.sally-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px 45px 0px;
  border-bottom: 1px solid #cfcfcf;
}
.sally-container .sally-text {
  padding: 19px;
  background-color: #F2F2F2;
}
.sally-container .sally-text p {
  color: #6b6b6b;
  line-height: 24px;
  font-size: 1rem;
}

.related-posts {
  width: 100%;
}

.related-h4 {
  padding-top: 30px;
}

.related-posts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid #cfcfcf;
}
@media (max-width: 1180px) {
  .related-posts-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.related-posts-container .blog-1,
.related-posts-container .blog-2 {
  padding: 20px 30px 0px 0px;
}
.related-posts-container .blog-3 {
  padding: 20px 0px 0px 0px;
}
.related-posts-container h5 {
  margin: 35px 0px 5px 0px;
}
.related-posts-container p {
  font-family: "Lora", serif;
  color: #6d6d6d;
  font-size: 0.7rem;
  margin: 0;
}
.related-posts-container p a {
  color: #353333;
  font-weight: 400;
  padding-left: 5px;
}

.comments h4 {
  margin: 35px 0px;
}

.lucatony-container,
.brian-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lucatony-image {
  width: 8%;
}
@media (max-width: 1180px) {
  .lucatony-image {
    display: none;
  }
}

.brian-container {
  margin-top: 3%;
}

.brian-image {
  width: 10%;
}
@media (max-width: 1180px) {
  .brian-image {
    display: none;
  }
}

.lucatony-text,
.brian-text {
  padding: 20px 20px 0px 20px;
  margin-left: 20px;
  background-color: #F2F2F2;
  position: relative;
}
.lucatony-text span,
.brian-text span {
  font-family: "Lora", serif;
  color: #353333;
  font-size: 0.7rem;
  margin: 0;
}
.lucatony-text p,
.brian-text p {
  font-family: "Lora", serif;
  color: #6d6d6d;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}
.lucatony-text .comment-date,
.brian-text .comment-date {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  letter-spacing: 0.5px;
  font-weight: 800;
  color: #353333;
  padding: 10px 0px;
  margin: 0;
}

.triangle {
  position: absolute;
  top: 9px;
  left: -9px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 10px solid #F2F2F2;
  border-bottom: 7px solid transparent;
}

.form-container {
  width: 100%;
}
.form-container p {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 0.8rem;
  color: #999999;
  font-weight: 600;
  opacity: 60%;
  letter-spacing: 0.3px;
}

.name-email-web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------------------------------general styles */
.wrapper {
  margin: 0 auto;
  max-width: 1096.27px;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

li {
  list-style-type: none;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

h5 {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 5px;
}

h6 {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
}

textarea {
  resize: none;
}

/* -------------------------------------------header styles */
.header-container {
  width: 100%;
  max-width: 2500px;
  height: 60vh;
  background-image: url(../assets/blog-1.jpeg);
  background-size: cover;
  background-position: bottom;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-container h1 {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1.3rem;
  letter-spacing: 0.06875rem;
}
.header-container nav {
  width: 50%;
}
@media (max-width: 1180px) {
  .header-container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.header-container a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.06875rem;
  font-size: 0.85rem;
}
.header-container a:hover, .header-container a:focus {
  color: #70a402;
}
@media (max-width: 1180px) {
  .header-container {
    background-image: url(../assets/blog-1.jpeg);
    max-width: 2000;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: bottom;
  }
}

.contact-image-container {
  background-image: url(../assets/contact-1.jpeg);
  width: 100%;
  max-width: 2500px;
  height: 60vh;
  background-size: cover;
  background-position: bottom;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-image-container h1 {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1.3rem;
  letter-spacing: 0.06875rem;
}
.contact-image-container nav {
  width: 50%;
}
@media (max-width: 1180px) {
  .contact-image-container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.contact-image-container a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.06875rem;
  font-size: 0.85rem;
}
.contact-image-container a:hover, .contact-image-container a:focus {
  color: #70a402;
}
@media (max-width: 1180px) {
  .contact-image-container {
    background-image: url(../assets/contact-1.jpeg);
    max-width: 2000;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: bottom;
  }
}

.home-header-container {
  background-image: url(../assets/home-1.jpeg);
  max-width: 2000;
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: bottom;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-header-container h1 {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1.3rem;
  letter-spacing: 0.06875rem;
}
.home-header-container nav {
  width: 50%;
}
@media (max-width: 1180px) {
  .home-header-container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.home-header-container a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.06875rem;
  font-size: 0.85rem;
}
.home-header-container a:hover, .home-header-container a:focus {
  color: #70a402;
}
@media (max-width: 1180px) {
  .home-header-container {
    background-image: url(../assets/home-1.jpeg);
    max-width: 2000;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: bottom;
  }
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 0;
}
@media (max-width: 1180px) {
  .nav-links {
    display: none;
  }
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: #70a402;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
@media (max-width: 1180px) {
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

li:last-child {
  position: relative;
}

.circle {
  width: 7px;
  height: 7px;
  background: #70a402;
  border: 8px solid #70a402;
  border-radius: 50%;
  color: white;
  font: "Raleway", sans-serif;
  position: absolute;
  top: 9px;
  left: 6px;
}

.number-two {
  position: absolute;
  top: 9px;
  left: 11px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: #F6F6F6;
}

.shopping-bag {
  position: relative;
}

/*------------------------------ sub footer styles */
.sub-footer {
  background-color: #353333;
  width: 100%;
  padding: 5rem 0;
}

.footer-text,
.subscribe-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Lora", serif;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #999999;
}
.footer-text h2,
.subscribe-header h2 {
  color: #70a402;
  font-family: "Raleway", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-text h3,
.subscribe-header h3 {
  color: #F6F6F6;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 24px;
}
@media (max-width: 1180px) {
  .footer-text,
.subscribe-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.footer-text p {
  border-bottom: 0.2px solid #6d6d6d;
}
.footer-text p:last-child {
  border-bottom: none;
}

.delicious-text {
  width: 33%;
  padding-right: 20px;
  padding-left: 0;
}
@media (max-width: 1180px) {
  .delicious-text {
    width: 70%;
    padding-right: 20px;
    padding-left: 21px;
  }
}

.subscribe {
  width: 34%;
  margin-top: 0px;
}

.recent-posts-text {
  width: 34%;
  padding: 5px 20px 20px 20px;
}
.recent-posts-text p {
  width: 80%;
  padding-bottom: 12px;
}
@media (max-width: 1180px) {
  .recent-posts-text p {
    width: 100%;
    padding-right: 20px;
  }
}
@media (max-width: 1180px) {
  .recent-posts-text {
    width: 70%;
    padding-right: 20px;
    padding-left: 21px;
  }
}

footer {
  background-color: black;
  color: #F6F6F6;
  margin: 0;
  height: 65px;
  padding: 4%;
}
@media (max-width: 1180px) {
  footer {
    padding-left: 5%;
    text-align: center;
  }
}
@media (max-width: 800px) {
  footer {
    padding: 10%;
  }
}

footer p {
  padding-top: 25px;
  margin-top: 0.2rem;
  font-family: "Raleway", sans-serif;
  color: #999999;
}
@media (max-width: 1800px) {
  footer p {
    padding: 10px;
    font-family: "Raleway", sans-serif;
    color: #999999;
  }
}
@media (max-width: 800px) {
  footer p {
    padding: 2%;
    text-align: center;
  }
}

.polar {
  font-family: "Raleway", sans-serif;
  color: #70a402;
  text-transform: uppercase;
}