.form-container h3 {
  padding: 30px 0px;
  color: #353333;
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.form-input,
.contact-form {
  width: calc(50% - 12px);
}
.form-input input,
.contact-form input {
  width: 100%;
}

.website-form,
.comment-form,
.button-form {
  width: 100%;
}
.website-form input,
.website-form textarea,
.comment-form input,
.comment-form textarea,
.button-form input,
.button-form textarea {
  width: 100%;
}

.form-name,
.form-input,
.contact-form,
.website-form,
.button-form button {
  background: #F2F2F2;
  border: none;
  font-family: "Lora", serif;
  font-weight: 600;
  color: #6d6d6d;
  padding: 6px;
}

.button-form button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-family: "Raleway", sans-serif;
  font-size: 0.95rem;
  font-weight: 700;
  color: #70a402;
  text-transform: uppercase;
  padding: 30px 0px;
}

.fa-long-arrow-alt-right {
  padding-left: 10px;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20%;
}

.side-bar-container h4 {
  color: #353333;
  width: 50%;
  padding-left: 25px;
}
.side-bar-container p {
  width: 50%;
  padding-left: 25px;
}

.side-bar-background {
  background-color: #F2F2F2;
  padding-top: 40px;
}

.form {
  padding: 90px 30px;
}

.contact-details,
.working-hours,
.contact-info {
  color: #6d6d6d;
}

.contact-details h4 {
  font-size: 1.5rem;
  font-weight: 700;
}
.contact-details p {
  font-family: "Lora", serif;
  color: #6d6d6d;
  font-size: 0.7rem;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.working-hours p,
.contact-info p {
  font-family: "Lora", serif;
  color: #999999;
  font-size: 0.7rem;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.3px;
}

span {
  font-family: "Raleway", sans-serif;
  color: #353333;
  text-transform: uppercase;
  font-weight: 600;
}

.span-p {
  font-size: 1rem;
}

.light-p {
  color: #999999;
}

.image-2-wrapper {
  display: block;
  width: 100%;
  margin: 0;
}
.image-2-wrapper img {
  width: 100%;
  display: block;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------------------------------general styles */
.wrapper {
  margin: 0 auto;
  max-width: 1096.27px;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

li {
  list-style-type: none;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

h5 {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 5px;
}

h6 {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
}

/* -------------------------------------------header styles */
.header-container {
  width: 100%;
  max-width: 2500px;
  height: 60vh;
  background-image: url(../assets/blog-1.jpeg);
  background-size: cover;
  background-position: bottom;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-container h1 {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1.3rem;
  letter-spacing: 0.06875rem;
}
.header-container nav {
  width: 60%;
}
.header-container a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.06875rem;
}
.header-container a:hover, .header-container a:focus {
  color: #70a402;
}

.contact-image-container {
  background-image: url(../assets/contact-1.jpeg);
  width: 100%;
  max-width: 2500px;
  height: 60vh;
  background-size: cover;
  background-position: bottom;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-image-container h1 {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1.3rem;
  letter-spacing: 0.06875rem;
}
.contact-image-container nav {
  width: 60%;
}
.contact-image-container a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.06875rem;
}
.contact-image-container a:hover, .contact-image-container a:focus {
  color: #70a402;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 0;
}

li:last-child {
  position: relative;
}

.circle {
  width: 7px;
  height: 7px;
  background: #70a402;
  border: 8px solid #70a402;
  border-radius: 50%;
  color: white;
  font: "Raleway", sans-serif;
  position: absolute;
  top: 9px;
  left: 6px;
}

.number-two {
  position: absolute;
  top: 9px;
  left: 11px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: #F6F6F6;
}

.shopping-bag {
  position: relative;
}

.recipes {
  margin-top: 8%;
}

.post-date {
  font-family: "Raleway", sans-serif;
  color: #353333;
  font-size: 0.77rem;
  word-spacing: 1px;
  margin: 0;
}
.post-date a {
  color: #353333;
  font-weight: 400;
}

.post-date a:first-child {
  border-left: 1px solid #353333;
  border-right: 1px solid #353333;
  padding: 0px 7px;
  margin: 0px 4px;
}

.pineapple-heading h3 {
  margin-bottom: 5px;
  letter-spacing: 0.9px;
}

.pineapple-chicken-text {
  font-family: "Lora", serif;
  color: #6d6d6d;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 24px;
}
.pineapple-chicken-text p:last-child {
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 35px;
}

.tag-list,
.share-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tag-list p,
.share-list p {
  font-family: "Lora", serif;
  color: #999999;
  padding: 3px 0px 0px 5px;
}
.tag-list nav,
.tag-list ul,
.share-list nav,
.share-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0;
}
.tag-list nav a,
.tag-list ul a,
.share-list nav a,
.share-list ul a {
  color: #999999;
  margin-left: 30px;
}

.share-list {
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 15px;
}

.sally {
  width: 100%;
}
.sally .image-container {
  display: block;
  width: 66%;
  padding-right: 37px;
}

.sally-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px 45px 0px;
  border-bottom: 1px solid #cfcfcf;
}
.sally-container .sally-text {
  padding: 40px;
  background-color: #F2F2F2;
}
.sally-container .sally-text p {
  color: #6b6b6b;
  line-height: 24px;
  font-size: 1rem;
}

.related-posts {
  width: 100%;
}

.related-h4 {
  padding-top: 30px;
}

.related-posts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid #cfcfcf;
}
.related-posts-container .blog-1,
.related-posts-container .blog-2 {
  padding: 20px 30px 0px 0px;
}
.related-posts-container .blog-3 {
  padding: 20px 0px 0px 0px;
}
.related-posts-container h5 {
  margin: 35px 0px 5px 0px;
}
.related-posts-container p {
  font-family: "Lora", serif;
  color: #6d6d6d;
  font-size: 0.7rem;
  margin: 0;
}
.related-posts-container p a {
  color: #353333;
  font-weight: 400;
  padding-left: 5px;
}

.comments h4 {
  margin: 35px 0px;
}

.lucatony-container,
.brian-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lucatony-image {
  width: 8%;
}

.brian-container {
  margin-top: 3%;
}

.brian-image {
  width: 10%;
}

.lucatony-text,
.brian-text {
  padding: 20px 20px 0px 20px;
  margin-left: 20px;
  background-color: #F2F2F2;
  position: relative;
}
.lucatony-text span,
.brian-text span {
  font-family: "Lora", serif;
  color: #353333;
  font-size: 0.7rem;
  margin: 0;
}
.lucatony-text p,
.brian-text p {
  font-family: "Lora", serif;
  color: #6d6d6d;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}
.lucatony-text .comment-date,
.brian-text .comment-date {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  letter-spacing: 0.5px;
  font-weight: 800;
  color: #353333;
  padding: 10px 0px;
  margin: 0;
}

.triangle {
  position: absolute;
  top: 9px;
  left: -9px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 10px solid #F2F2F2;
  border-bottom: 7px solid transparent;
}

.form-container {
  width: 100%;
}
.form-container p {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 0.8rem;
  color: #999999;
  font-weight: 600;
  opacity: 60%;
  letter-spacing: 0.3px;
}

.name-email-web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*------------------------------ sub footer styles */
.sub-footer {
  background-color: #353333;
  width: 100%;
  padding: 5rem 0;
}

.footer-text,
.h3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Lora", serif;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #999999;
}
.footer-text h2,
.h3 h2 {
  color: #70a402;
  font-family: "Raleway", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-text h3,
.h3 h3 {
  color: #F6F6F6;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 24px;
}
.footer-text p,
.h3 p {
  border-bottom: 0.3px solid #cfcfcf;
}
.footer-text p:last-child,
.h3 p:last-child {
  border-bottom: none;
}

.delicious-text,
.recent-posts-text,
.subscribe {
  width: 35%;
  padding: 20px;
}

.footer-form h3 {
  padding-top: 20px;
}

footer {
  background-color: black;
  color: #F6F6F6;
  margin: 0;
  height: 30%;
}

footer p {
  padding-top: 15px;
  font-family: "Raleway", sans-serif;
  color: #999999;
}

.polar {
  font-family: "Raleway", sans-serif;
  color: #70a402;
  text-transform: uppercase;
}